<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>About Newtech Armor</title>
    <meta name="Keywords" content="Body Armor, level III Hard Armor Plates, Ballstic Vests, Bulletproof Shields, Ballistic Plates, Body Armor Plates">
    <meta name="Description" content="Newtech Armor Specializes in The Manufacture of Hard Armor Plates, Ballistic Vests and Bulletproof Shields and Solutions">
    <!-- responsive meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- master stylesheet -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- responsive stylesheet -->
    <link rel="stylesheet" href="/css/bootstrap-margin-padding.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <script>
    (function(){
        var canonicalURL, curProtocol;
        //Get the <link> tag
        var x=document.getElementsByTagName("link");
        //Find the last canonical URL
        if(x.length > 0){
            for (i=0;i<x.length;i++){
                if(x[i].rel.toLowerCase() == 'canonical' && x[i].href){
                    canonicalURL=x[i].href;
                }
            }
        }
        //Get protocol
        if (!canonicalURL){
            curProtocol = window.location.protocol.split(':')[0];
        }
        else{
            curProtocol = canonicalURL.split(':')[0];
        }
        //Get current URL if the canonical URL does not exist
        if (!canonicalURL) canonicalURL = window.location.href;
        //Assign script content. Replace current URL with the canonical URL
        !function(){var e=/([http|https]:\/\/[a-zA-Z0-9\_\.]+\.baidu\.com)/gi,r=canonicalURL,t=document.referrer;if(!e.test(r)){var n=(String(curProtocol).toLowerCase() === 'https')?"https://sp0.baidu.com/9_Q4simg2RQJ8t7jm9iCKT-xh_/s.gif":"//api.share.baidu.com/s.gif";t?(n+="?r="+encodeURIComponent(document.referrer),r&&(n+="&l="+r)):r&&(n+="?l="+r);var i=new Image;i.src=n}}(window);})();
</script>

</head>
<!-- Preloader -->
<!-- <div class="preloader"></div> -->
<body oncontextmenu="return false" onselectstart="return false">
<!-- 公共头部 start -->
<!-- Preloader -->

<div class="preloader" style="display: none;"></div>
<!-- section -->
<header th:replace="header :: header"></header>

<!-- 公共头部end -->
<section class="inner-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12 sec-title colored text-center">
                <h2>About Us</h2>
                <span class="decor"><span class="inner"></span></span>
            </div>
        </div>
    </div>
</section>
<!-- 面包屑 start -->
<section class="pt-20">
    <div class="container">
        <ul class="breadcumb">
            <li><a href="/">Home</a></li>
            <li><i class="fa fa-angle-right"></i></li>
            <li><span>About Us</span></li>
        </ul>
    </div>
</section>
<!-- 面包屑 end -->
<!--关于纽钛科start-->
<section class="sec-padding pb-40">
    <div class="container">
        <div class="full-sec-content md-text-center mt-md-30">
            <div class="sec-title style-two mb-20">
                <h2>About Newtech</h2>
                <span class="decor">
                    <span class="inner"></span>
                    </span>
            </div>
            <p class="darkgrey mb-40">Newtech Armor has been long dedicated to provide professional ballistic solutions for customers. With the leadership of Dr. Lei, it has become known as a leading bulletproof plate manufacturer. Besides bulletproof plates, our products also include ballistic vests, bulletproof shields, stab resistant vests, etc., which are all NIJ standard certificated, and with the latest technologies and better materials applied, our products are lighter in weight and superior in defensive capability.</br>
                Up to now, we have served many customers from Sweden, Germany, the Middle East, Spain, South Korea and other countries, and have established long-term cooperative relationship with most of them. What we most proud of is our products have defended countless lives and family happiness, and we will continue to work hard for people’s safety. </br>
                Swed Security & Protecting Technologies (Beijing)  Co., Ltd. was founded in 2005, which was transformed into today’s Newtech advance material technologies (Wuxi) Co., Ltd., in 2018. Newtech covers an area of 2000 square meters with all kinds of production equipment and perfect production management system. Under the guidance of Dr. Lei, our R&D team has obtained more than 10 domestic and international patents in the past 13 years.</br>
                By virtue of the excellent ability of R&D and manage team, we are able to provide worldwide customers with more comprehensive services ranged from the customization of protection equipment to their production.<br>
                The particularity of protection products determines they must have good quality, so with the "quality first, credibility first" business philosophy, we conduct careful inspection in every production step to eliminate the unqualified products.
            </p>
        </div>
        <div class="container">
            <div class="col-lg-7 col-md-12">
                <div class="row style-three mb40">
                    <div class="col-md-12 col-sm-6">
                        <div class="row mb-10">
                            <img class="full-width" src="/img/about/4.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-md-12">
                <div class="row mb-10">
                    <div class="col-md-12">
                        <img class="full-width" src="/img/about/1.jpg" alt="">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 pr-5 pr-sm-15 mb-sm-10">
                        <img class="full-width" src="/img/about/2.jpg" alt="">
                    </div>
                    <div class="col-md-6 pl-5 pl-sm-15">
                        <img class="full-width" src="/img/about/3.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--关于纽钛科end-->
<!-- 团队简介 start -->
<section class="sec-padding meet-doctors pt-10 pb-60">
    <div class="container">
        <div class="sec-title style-two mt-20 mb-20">
            <h2>Management Team</h2>
            <span class="decor">
                    <span class="inner"></span>
                    </span>
        </div>
        <div class="row team-members">
            <div class="col-md-12 col-sm-12">
                <div class="img-box col-md-3 col-sm-12">
                    <img class="full-width" src="/img/team/1.jpg" alt="">
                </div>
                <div class="col-md-9 col-sm-12 single-team-member">
                    <h2>Dr. Lei</h2>
                    <h3 class="color-theme"><span>The founder of Newtech</span></h3>
                    <p>Lei Bingqiang once served as a visiting researcher at the Swedish Defense Research Institute, after graduating as a doctor of material science in Sweden in 90s. At the beginning of 20th, he came back to China and inaugurated China's bulletproof product industry. He founded Swed Security & Protecting Technologies (Beijing)  Co., Ltd., independently, which has provided many protective equipment solutions and advanced bulletproof equipment to customers from over 30 countries.<br>
                        In the past more than 10 years, Dr. Lei has developed design schemes of many bulletproof equipment including ceramic hard armor plates. His great efforts and contributions have brought him lots of national honors and awards¬¬(the special allowance of the State Council, the titles of special contribution expert of the national defense industry committee and vice president of China Composite Material Association, and so on).<br>
                    In 2018,Dr. Lei co-found Newtech, and served as a manager, as well as the leader of the R & D team.</p>
                </div>
            </div>
        </div>
</section>
<!-- 团队简介 end -->

<!-- 合作伙伴 start -->
<section class="sec-padding meet-doctors pt-40" data-bg-color="#f7f7f7">
    <div class="container">
        <div class="sec-title style-two mt-20 mb-30">
            <h2>Partners</h2>
            <span class="decor">
                    <span class="inner"></span>
                    </span>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-12">
                <img class="full-width" src="/img/about/logo1.jpg" alt="">
            </div>
            <div class="col-lg-3 col-md-12">
                <img class="full-width" src="/img/about/logo2.jpg" alt="">
            </div>
            <div class="col-lg-3 col-md-12">
                <img class="full-width" src="/img/about/logo3.jpg" alt="">
            </div>
            <div class="col-lg-3 col-md-12">
                <img class="full-width" src="/img/about/logo4.jpg" alt="">
            </div>
        </div>
    </div>
</section>
<!-- 合作伙伴 end -->


<!-- 联系我们 start -->
<section class="contact-content sec-padding pt-50 pb-50 ">
    <div class="container">
        <div class="row">
            
            <div class="col-md-5">
                <h2>Contact Info</h2>
                <ul class="contact-info">
                    <li>
                        <div class="icon-box">
                            <div class="inner">
                                <i class="fa fa-map-marker"></i>
                            </div>
                        </div>
                        <div class="content-box">
                            <h4>Adress</h4>
                            <p>No. 9, Zhangshe Road South area of the Hu Tai Industrial Park, Binhu District, 
                                Wuxi, Jiangsu Province</p>
                        </div>
                    </li>
                    <li>
                        <div class="icon-box">
                            <div class="inner">
                                <i class="fa fa-phone"></i>
                            </div>
                        </div>
                        <div class="content-box">
                            <h4>Tel</h4>
                            <p><a href="tel:0510-85182889"><font color="gray"> 0510-85182889 </font></a>,<br>
                  
                        </div>
                    </li>
                    <li>
                        <div class="icon-box">
                            <div class="inner">
                                <i class="fa fa-envelope-o"></i>
                            </div>
                        </div>
                        <div class="content-box">
                            <h4>Mail</h4>
                            <p><a href="mailto:info@newtecharmor.com"><font color="gray">info@newtecharmor.com</font></a></p>
                        </div>
                    </li>
                    <li>
                       
                       
                    </li>
                </ul>
            </div>
            <div class="img-box col-md-5 col-sm-12 mt-60 ml-120 pl-60">
                    <div id="gdmapcontainer"></div>
                </div>
        </div>
    </div>
</section>
<!-- 联系我们 end -->

<!--关注我们 start-->
<section data-bg-color="#f7f7f7">
    <div class="container">
        <div class="row">
            <div>
                <div class="sec-title style-two mt-70 mb-20 ">
                    <h2>Follow Us</h2>
                    <span class="decor">
                    <span class="inner"></span>
                    </span>
                </div>
                <div class="fellow md-40  pb-40 ">
                    <ul>
                        <li class="ml-20 mr-20"><a href=""> <i class="fa fa-qq" aria-hidden="true"></i> </a></li>
                        <li class="ml-20 mr-20"><a href=""> <i class="fa fa-twitter" aria-hidden="true"></i> </a></li>
                        <li class="ml-20 mr-20"><a href=""> <i class="fa fa-linkedin" aria-hidden="true"></i> </a></li>
                        <li class="ml-20 mr-20"><a href=""> <i class="fa fa-envelope" aria-hidden="true"></i> </a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!--关注我们 end-->
<!--重点推荐 start-->
<section class="call-to-action home-one">
    <div class="container-fluid">
        <div class="clearfix">
            <div class="call-to-action-corner col-md-6"
                style="background-image: url(img/call-to-action/center-box-bg.jpg);">
                <a href="/">
                    <div class="single-call-to-action open-hours">
                        
                            <div class="img-box  pt-60 ">
                                <div class="col-lg-2 col-md-2">
                                    <img class="full-width" src="/img/resources/icon-hardaqrmorplate.png">
                                </div>
                            </div>
                      
                        <div class="content-box meet-doctors  pb-10 pl-10">
                            <h3 class="title">Chemical Research</h3>
                            <p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod
                                mazim
                                placerat facer possim assum. Lorem ipsum dolor sit amet. <span>consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</span>
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="call-to-action-center col-md-6"
                 style="background-image: url(img/call-to-action/center-box-bg.jpg);">
                <a href="/">
                    <div class="single-call-to-action">
                        <div class="img-box  pt-60 ">
                                <div class="col-lg-2 col-md-2">
                                    <img class="full-width" src="/img/resources/icon-ballisticvest.png">
                                </div>
                            </div>
                        <div class="content-box meet-doctors pb-10 pl-10">
                            <h3 class="title">Petroleum And Gas</h3>
                            <p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod
                                mazim
                                placerat facer possim assum. Lorem ipsum dolor sit amet. <span>consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</span>
                            </p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
<!--重点推荐 end-->
<footer th:replace="footer :: copy"></footer>
<script type="text/javascript" src="https://webapi.amap.com/maps?v=1.4.8&key=e6f4128feb2165319ef4b6f7a03b0490"></script>
</body>
<script>
    var map = new AMap.Map('gdmapcontainer', {
        resizeEnable: true,
        zoom:16,//缩放级别
        center: [120.144, 31.56]//定位中心点位置
    });

</script>
</html>

