<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-121843222-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-121843222-1');
</script>

    <meta charset="UTF-8">
    <title>Contact Us-NewTec Armor</title>
    <meta name="Keywords" content="Body Armor, level III Hard Armor Plates, Ballstic Vests, Bulletproof Shields, Ballistic Plates, Body Armor Plates">
    <meta name="Description" content="Newtech Armor Specializes in The Manufacture of Hard Armor Plates, Ballistic Vests and Bulletproof Shields and Solut">
    <!-- responsive meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- master stylesheet -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- responsive stylesheet -->
    <link rel="stylesheet" href="/css/bootstrap-margin-padding.css">
    <link rel="stylesheet" href="/css/responsive.css">

    <script>
    (function(){
        var canonicalURL, curProtocol;
        //Get the <link> tag
        var x=document.getElementsByTagName("link");
        //Find the last canonical URL
        if(x.length > 0){
            for (i=0;i<x.length;i++){
                if(x[i].rel.toLowerCase() == 'canonical' && x[i].href){
                    canonicalURL=x[i].href;
                }
            }
        }
        //Get protocol
        if (!canonicalURL){
            curProtocol = window.location.protocol.split(':')[0];
        }
        else{
            curProtocol = canonicalURL.split(':')[0];
        }
        //Get current URL if the canonical URL does not exist
        if (!canonicalURL) canonicalURL = window.location.href;
        //Assign script content. Replace current URL with the canonical URL
        !function(){var e=/([http|https]:\/\/[a-zA-Z0-9\_\.]+\.baidu\.com)/gi,r=canonicalURL,t=document.referrer;if(!e.test(r)){var n=(String(curProtocol).toLowerCase() === 'https')?"https://sp0.baidu.com/9_Q4simg2RQJ8t7jm9iCKT-xh_/s.gif":"//api.share.baidu.com/s.gif";t?(n+="?r="+encodeURIComponent(document.referrer),r&&(n+="&l="+r)):r&&(n+="?l="+r);var i=new Image;i.src=n}}(window);})();
</script>


</head>

<body>
<!-- Preloader -->
<!-- <div class="preloader"></div> -->
<body oncontextmenu="return false" onselectstart="return false">
<!-- 公共头部 start -->
<!-- Preloader -->
<div class="preloader" style="display: none;"></div>
<header th:replace="header :: header"></header>
<!-- 公共头部end -->
<!-- slider start -->
<section class="inner-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12 sec-title colored text-center">
                <h2>Contact Us</h2>
                <span class="decor"><span class="inner"></span></span>
            </div>
        </div>
    </div>
</section>
<!-- slider end -->
<!-- 面包屑 start -->
<section class="pt-20">
    <div class="container">
        <ul class="breadcumb">
            <li><a href="/">Home</a></li>
            <li><i class="fa fa-angle-right"></i></li>
            <li><span>Contact Us</span></li>
        </ul>
    </div>
</section>
<!-- 面包屑 end -->
<!-- 公司简介 start -->
<section class="sec-padding2 pt-40 pd-10">
    <div class="container">
        <div class="row team-members">
            <div class="col-md-12 col-sm-12">
                <div class="col-md-7 col-sm-12 single-team-member">
                   
                    <p>Please contact us, if you want to buy/customize our products, or learn more about them, and we will feedback within one business day. <br>
                        Our company has been long dedicated to provide professional ballistic solutions & products for customers. We can provide adjustments on print content as well as product design, according to customer’s need.<br>
                        Business hours  9：00 – 18：00<br>
                        If you want to visit our factory, please contact us ahead of time.<br>
                     </p>
                </div>
               
            </div>
        </div>
    </div>
</section>
<!-- 公司简介 end -->

<!-- 联系我们 start -->
<section class="contact-content sec-padding pt-50 pb-50 ">
    <div class="container">
        <div class="row">
            
            <div class="col-md-5">
                <h2>Contact Info</h2>
                <ul class="contact-info">
                    <li>
                        <div class="icon-box">
                            <div class="inner">
                                <i class="fa fa-map-marker"></i>
                            </div>
                        </div>
                        <div class="content-box">
                            <h4>Adress</h4>
                            <p>No. 9, Zhangshe Road South area of the Hu Dai Industrial Park, Binhu District, 
                                Wuxi, Jiangsu Province</p>
                        </div>
                    </li>
                    <li>
                        <div class="icon-box">
                            <div class="inner">
                                <i class="fa fa-phone"></i>
                            </div>
                        </div>
                        <div class="content-box">
                            <h4>Tel</h4>
                            <p><a href="tel:0510-85182889"><font color="gray"> +86(0)510-85182889 </font></a>,<br>
                  
                        </div>
                    </li>
                    <li>
                        <div class="icon-box">
                            <div class="inner">
                                <i class="fa fa-envelope-o"></i>
                            </div>
                        </div>
                        <div class="content-box">
                            <h4>Mail</h4>
                            <p><a href="mailto:info@newtecharmor.com"><font color="gray">info@newtecharmor.com</font></a></p>
                        </div>
                    </li>
                    <li>
                       
                       
                    </li>
                </ul>
            </div>
             
        </div>
    </div>
</section>
<!-- 联系我们 end -->
<!--关注我们 start-->
<section data-bg-color="#f7f7f7">
    <div class="container">
        <div class="row">
            <div>
                <div class="sec-title style-two mt-70 mb-0">
                    <h2>Follow Us</h2>
                    <span class="decor">
                    <span class="inner"></span>
                    </span>
                </div>
                <div class="fellow md-60 pb-40">
                    <ul>
                        <li class="ml-20 mr-20"><a href="https://www.facebook.com/NewtechArmor/?modal=admin_todo_tour"> <i class="fa fa-facebook" aria-hidden="true"></i> </a></li>
                        <li class="ml-20 mr-20"><a href="https://twitter.com/NewtechArmorUS"> <i class="fa fa-twitter" aria-hidden="true"></i> </a></li>
                        <li class="ml-20 mr-20"><a href="https://www.linkedin.com/company/newtecharmor1/"> <i class="fa fa-linkedin" aria-hidden="true"></i> </a></li>
                        <li class="ml-20 mr-20"><a href="https://plus.google.com/u/0/109816087792818443710"> <i class="fa fa-google-plus" aria-hidden="true"></i> </a></li>
                        <li class="ml-20 mr-20"><a href="mailto:info@newtecharmor.com"> <i class="fa fa-envelope" aria-hidden="true"></i> </a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!--关注我们 end-->
<!--重点推荐 start-->
<section class="call-to-action home-one">
    <div class="container-fluid">
        <div class="clearfix">
            <div class="call-to-action-corner col-md-6"
                 style="background-image: url(/img/call-to-action/left-box-bg.jpg);">
                <a href="http://www.newtecharmor.com/category/67">
                    <div class="single-call-to-action open-hours">
                        <div class="img-box  pt-60 ">
                                <div class="col-lg-2 col-md-2">
                                    <img class="full-width" src="/img/resources/icon-hardaqrmorplate.png">
                                </div>
                            </div>
                      
                        <div class="content-box meet-doctors  pb-10 pl-10">
                            <h3 class="title">Hard Armor Plate</h3>
                            <p>Since 2005, in response to the escalating gun threat, we have been committed to improving our existing products and developing new materials and bulletproof equipments.</span>
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="call-to-action-center col-md-6"
                 style="background-image: url(/img/call-to-action/center-box-bg.jpg);">
                <a href="http://www.newtecharmor.com/category/64">
                    <div class="single-call-to-action">
                        <div class="img-box  pt-60 ">
                                <div class="col-lg-2 col-md-2">
                                    <img class="full-width" src="/img/resources/icon-ballisticvest.png">
                                </div>
                            </div>
                        <div class="content-box meet-doctors pb-10 pl-10">
                            <h3 class="title">Ballistic Vests</h3>
                            <p>In recent years, with the aggravation of gun threats, ballistic vest has been used more and more widely. In response to this, we have paid more and more efforts on developing new products with various sizes and colors to meet the different needs of our customers.</span>
                            </p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
<!--重点推荐 end-->
<footer th:replace="footer :: copy"></footer>

<script type="text/javascript" src="https://webapi.amap.com/maps?v=1.4.8&key=e6f4128feb2165319ef4b6f7a03b0490"></script>

</body>

</html>

