<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-121843222-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-121843222-1');
</script>

</head>
<body oncontextmenu="return false" onselectstart="return false">
<header th:fragment="header">
    <section class="top-bar">
        <div class="container">
            <div class="social-icons pull-right">
                <ul>
                    <li><a href="https://www.facebook.com/NewtechArmor/?modal=admin_todo_tour"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="https://twitter.com/NewtechArmorUS"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="https://plus.google.com/u/0/109816087792818443710"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="https://www.linkedin.com/company/newtecharmor1/"><i class="fa fa-linkedin"></i>
                    </i></a></li>
                </ul>
            </div>
        </div>
    </section>
    <!-- 头部 -->
    <header class="header">
        <div class="container">
            <div class="logo pull-left">
                <a href="/">
                    <img src="/img/resources/logo.png" alt="Awesome Image"/>
                </a>
            </div>
            <div class="header-right-info pull-right clearfix mt-20 mr-60">
                <div class="single-header-info">
                    <div class="icon-box">
                        <div class="inner-box">
                            <i class="flaticon-interface"></i>
                        </div>
                    </div>
                    <div class="content">
                        <h3>MAIL</h3>
                        <p>info@newtecharmor.com</p>
                    </div>
                </div>
                
                <div class="single-header-info">
                    <!--<a href="appointment.html" class="thm-btn">Appointment</a>-->
                </div>
            </div>
        </div>
    </header>

    <nav class="mainmenu-area stricky">
        <div class="container p-0">
            <div class="navigation pull-left">
                <div class="nav-header">
                    <ul >
                        <li><a href="/">Home</a></li>
                        <!--
                        <li><a href="equip-hardarmorplates.html">Hard Armor Plates</a></li>
                        <li><a href="equip-vests.html">Vests</a></li>
                        <li><a href="equip-shields.html">Shields</a></li>
                        <li><a href="search.html">Others</a></li>
                        -->
                        <li th:each="type : ${types}">
                            <a th:href="'/category/'+${type.id}" th:text="${type.label}"></a>
                        </li>
                        <li><a href="/news">News</a></li>
                        <li><a href="/about">About Us</a></li>
                        <li><a href="/contact">Contact Us</a></li>
                    </ul>
                </div>
                <div class="nav-footer">
                    <button><i class="fa fa-bars"></i></button>
                </div>
            </div>

        </div>
    </nav>
    <!-- 公共头部end -->

</header>
</body>

</html>

