<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-121843222-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-121843222-1');
    </script>

    <meta charset="UTF-8">
    <title>Newtech Armor - Specializes in Body Armor solutions!</title>
    <meta name="Keywords" content="Body Armor, Level III Hard Armor Plates, Ballstic Vests, Bulletproof Shields, Ballistic Plates, Body Armor Plates">
    <meta name="Description"
          content="Newtech Armor Specializes in The Manufacture of Hard Armor Plates, Ballistic Vests and Bulletproof Shields and Solutions">
    <!-- responsive meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- master stylesheet -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- responsive stylesheet -->
    <link rel="stylesheet" href="/css/bootstrap-margin-padding.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <link rel="stylesheet" type="text/css" href="/css/magnifier.css">
    <script>
        (function () {
            var canonicalURL, curProtocol;
            //Get the <link> tag
            var x = document.getElementsByTagName("link");
            //Find the last canonical URL
            if (x.length > 0) {
                for (i = 0; i < x.length; i++) {
                    if (x[i].rel.toLowerCase() == 'canonical' && x[i].href) {
                        canonicalURL = x[i].href;
                    }
                }
            }
            //Get protocol
            if (!canonicalURL) {
                curProtocol = window.location.protocol.split(':')[0];
            }
            else {
                curProtocol = canonicalURL.split(':')[0];
            }
            //Get current URL if the canonical URL does not exist
            if (!canonicalURL) canonicalURL = window.location.href;
            //Assign script content. Replace current URL with the canonical URL
            !function () {
                var e = /([http|https]:\/\/[a-zA-Z0-9\_\.]+\.baidu\.com)/gi, r = canonicalURL, t = document.referrer;
                if (!e.test(r)) {
                    var n = (String(curProtocol).toLowerCase() === 'https') ? "https://sp0.baidu.com/9_Q4simg2RQJ8t7jm9iCKT-xh_/s.gif" : "//api.share.baidu.com/s.gif";
                    t ? (n += "?r=" + encodeURIComponent(document.referrer), r && (n += "&l=" + r)) : r && (n += "?l=" + r);
                    var i = new Image;
                    i.src = n
                }
            }(window);
        })();
    </script>
    <style>
        .text-center{
            padding-top: 20px;
        }
        .cate-bnr-sngle>img{
            width: 271px;
            height: 275px;
        }
        .cate-bnr-sngle>p{
            overflow : hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            padding: 0 20px;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
        }
        .cate-content{
            padding-top: 135px;
        }
    </style>
</head>
<!-- Preloader -->
<!-- <div class="preloader"></div> -->
<!-- 公共头部 start -->
<!-- Preloader -->
<div class="preloader" style="display: none;"></div>
<header th:replace="header :: header"></header>
<section class="rev_slider_wrapper">
    <div id="slider1" class="rev_slider" data-version="5.0">
        <ul>
            <li data-transition="parallaxvertical">
                <img src="/img/index/1.jpg" alt="" width="1920" height="705" data-bgposition="top center"
                     data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="2">
                <div class="tp-caption sfl tp-resizeme thm-banner-h1"
                     data-x="left" data-hoffset="0"
                     data-y="top" data-voffset="225"
                     data-whitespace="nowrap"
                     data-transform_idle="o:1;"
                     data-transform_in="o:0"
                     data-transform_out="o:0"
                     data-start="500">
                    lighter，safer
                </div>
                <div class="tp-caption sfr tp-resizeme thm-banner-h1 heavy"
                     data-x="left" data-hoffset="0"
                     data-y="top" data-voffset="280"
                     data-whitespace="nowrap"
                     data-transform_idle="o:1;"
                     data-transform_in="o:0"
                     data-transform_out="o:0"
                     data-start="1000">
                    Hard Armor Plates
                </div>
                <div class="tp-caption sfb tp-resizeme thm-banner-h3"
                     data-x="left" data-hoffset="0"
                     data-y="top" data-voffset="353"
                     data-whitespace="nowrap"
                     data-transform_idle="o:1;"
                     data-transform_in="o:0"
                     data-transform_out="o:0"
                     data-start="1500">
                    we make better armor
                </div>

                <div class="tp-caption sfl tp-resizeme"
                     data-x="left" data-hoffset="0"
                     data-y="top" data-voffset="404"
                     data-whitespace="nowrap"
                     data-transform_idle="o:1;"
                     data-transform_in="o:0"
                     data-transform_out="o:0"
                     data-start="2300">
                    <a href="http://www.newtecharmor.com/category/24" class="thm-btn">learn more</a>
                </div>
                <div class="tp-caption sfr tp-resizeme"
                     data-x="left" data-hoffset="165"
                     data-y="top" data-voffset="404"
                     data-whitespace="nowrap"
                     data-transform_idle="o:1;"
                     data-transform_in="o:0"
                     data-transform_out="o:0"
                     data-start="2300">
                    <a href="http://www.newtecharmor.com/contact" class="thm-btn inverse">contact us now</a>
                </div>
            </li>
            <li data-transition="parallaxvertical">
                <img src="/img/index/2.jpg" alt="" width="1920" height="705" data-bgposition="top center"
                     data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="2">
                <div class="tp-caption sfl tp-resizeme thm-banner-h1"
                     data-x="left" data-hoffset="0"
                     data-y="top" data-voffset="225"
                     data-whitespace="nowrap"
                     data-transform_idle="o:1;"
                     data-transform_in="o:0"
                     data-transform_out="o:0"
                     data-start="500">
                    lighter，safer
                </div>
                <div class="tp-caption sfr tp-resizeme thm-banner-h1 heavy"
                     data-x="left" data-hoffset="0"
                     data-y="top" data-voffset="280"
                     data-whitespace="nowrap"
                     data-transform_idle="o:1;"
                     data-transform_in="o:0"
                     data-transform_out="o:0"
                     data-start="1000">
                    Bulletproof Shields
                </div>
                <div class="tp-caption sfb tp-resizeme thm-banner-h3"
                     data-x="left" data-hoffset="0"
                     data-y="top" data-voffset="353"
                     data-whitespace="nowrap"
                     data-transform_idle="o:1;"
                     data-transform_in="o:0"
                     data-transform_out="o:0"
                     data-start="1500">
                    we make better armor
                </div>

                <div class="tp-caption sfl tp-resizeme"
                     data-x="left" data-hoffset="0"
                     data-y="top" data-voffset="404"
                     data-whitespace="nowrap"
                     data-transform_idle="o:1;"
                     data-transform_in="o:0"
                     data-transform_out="o:0"
                     data-start="2300">
                    <a href="http://www.newtecharmor.com/category/6" class="thm-btn">learn more</a>
                </div>
                <div class="tp-caption sfr tp-resizeme"
                     data-x="left" data-hoffset="165"
                     data-y="top" data-voffset="404"
                     data-whitespace="nowrap"
                     data-transform_idle="o:1;"
                     data-transform_in="o:0"
                     data-transform_out="o:0"
                     data-start="2300">
                    <a href="http://www.newtecharmor.com/contact" class="thm-btn inverse">contact us now</a>
                </div>
            </li>
            <li data-transition="parallaxvertical">
                <img src="/img/index/3.jpg" alt="" width="1920" height="705" data-bgposition="top center"
                     data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="2">
                <div class="tp-caption sfl tp-resizeme thm-banner-h1"
                     data-x="left" data-hoffset="0"
                     data-y="top" data-voffset="225"
                     data-whitespace="nowrap"
                     data-transform_idle="o:1;"
                     data-transform_in="o:0"
                     data-transform_out="o:0"
                     data-start="500">
                    lighter，safer
                </div>
                <div class="tp-caption sfr tp-resizeme thm-banner-h1 heavy"
                     data-x="left" data-hoffset="0"
                     data-y="top" data-voffset="280"
                     data-whitespace="nowrap"
                     data-transform_idle="o:1;"
                     data-transform_in="o:0"
                     data-transform_out="o:0"
                     data-start="1000">
                    Ballistic Vests
                </div>
                <div class="tp-caption sfb tp-resizeme thm-banner-h3"
                     data-x="left" data-hoffset="0"
                     data-y="top" data-voffset="353"
                     data-whitespace="nowrap"
                     data-transform_idle="o:1;"
                     data-transform_in="o:0"
                     data-transform_out="o:0"
                     data-start="1500">
                    we make better armor
                </div>

                <div class="tp-caption sfl tp-resizeme"
                     data-x="left" data-hoffset="0"
                     data-y="top" data-voffset="404"
                     data-whitespace="nowrap"
                     data-transform_idle="o:1;"
                     data-transform_in="o:0"
                     data-transform_out="o:0"
                     data-start="2300">
                    <a href="http://www.newtecharmor.com/category/23" class="thm-btn">learn more</a>
                </div>
                <div class="tp-caption sfr tp-resizeme"
                     data-x="left" data-hoffset="165"
                     data-y="top" data-voffset="404"
                     data-whitespace="nowrap"
                     data-transform_idle="o:1;"
                     data-transform_in="o:0"
                     data-transform_out="o:0"
                     data-start="2300">
                    <a href="http://www.newtecharmor.com/contact" class="thm-btn inverse">contact us now</a>
                </div>
        </ul>
    </div>
</section>


<!-- 产品分类 -->
<div class="container">
    <div class="sec-title style-two mt-70 mb-0">
        <h2>Products</h2>
        <span class="decor">
                <span class="inner"></span>
            </span>
    </div>
    <div class="sec-title text-left mb-30">
        <p>We specialized in the manufacture of quality protection products with lightweight and lower price.</p>
    </div>
    <div class="row pl-15 pr-15">
        <div class="list-left">
            <a th:each="type : ${types}" class="bordered p-10 mr-10" target="mainIframe" th:href="'/category/'+${type.id}">
                <span class="color-black" th:text="${type.label}">Hard Armor Plate</span>
            </a>
        </div>
        <div>
            <a class="list-right bordered p-10" target="mainIframe" href="/search?title="><span
                    class="color-black">More</span></a>
        </div>
    </div>
    <!--装备列表1 start-->
    <div class="row mb-0">
        <div class="text-center col-lg-3 col-md-6" th:each="p : ${products}">
            <div class="cate-bnr-sngle bordered ">
                <img th:src="'http://api.newtecharmor.com/'+${#strings.listSplit(p.logo,',')[0]}" alt="">
                <p th:text="${p.title}">FDY-101快穿式防弹背心</p>
                <div class="cate-content text-center">
                    <a th:href="'product/'+${p.id}">View Detail</a>
                </div>
            </div>
        </div>

    </div>
    <!--装备列表1 end-->
</div>
<!-- 公司简介 -->
<section class="sec-padding pb-80 pt-80">
    <div class="container ">
        <div class="row ">
            <div class="col-md-12 col-lg-6 ">
                <div class="row mb-10 ">
                    <div class="col-md-12">
                        <img class="full-width" src="/img/about/4.jpg" title=Newtech Advance material alt="">
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-6">
                <div class="full-sec-content md-text-left my-30 pl-30">
                    <div class="row sec-title style-two mb-10">
                        <h2><a class="text-uppercase color-theme" href="/about">About Newtech</a></h2>
                        <span class="decor">
								<span class="inner"></span>
                            </span>
                    </div>
                    <div class="row mb-10">
                        <p class="mb-10">Newtech Armor has been long dedicated to provide professional ballistic
                            solutions for customers. Besides bulletproof plates, our products also include ballistic
                            vests, bulletproof shields, stab resistant vests, etc., which are all NIJ standard
                            certificated, and with the latest technologies and better materials applied, our products
                            are lighter in weight and superior in defensive capability. <br>

                            Swed Security & Protecting Technologies (Beijing) Co., Ltd. was founded in 2005, which was
                            transformed into today’s Newtech....... <span> <a class="color-theme" href="/about">READ MORE</a></span>
                        </p>
                        <p style="font-size: 18px;" class="mb-20 color-theme">You can find more info of us below</p>
                        <a class="thm-btn btn-black mr-10" href="/search?title=">Products</a>
                        <a class="thm-btn" href="/about">About</a>
                        <a class="thm-btn ml-10" href="/contact">Contact</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<!-- 客户介绍 -->
<section class="sec-padding meet-doctors pt-60 pb-60" data-bg-color="#f7f7f7 ">
    <div class="container">
        <div class="sec-title text-center mb-0 ">
            <h2>What Our Customers Say</h2>
            <span class="decor"><span class="inner"></span></span>
        </div>
        <div class="clearfix ">
            <div class="team-carousel team-members owl-carousel owl-theme pt-60">
                <div class="item">
                    <div class="single-team-member text-center ml-0 pt-0">
                        <h3 class=" mb-10 ml-100 mr-100 color-gray">Dr. Lei and his team are very credible. Our collaboration began at 2005, and has gone well up to now. There has been no problem with order delivery and product quality yet. Newtech has been long committed to developing new technologies to increase the protection level of those bulletproof products while decrease their prices, which is just in line with our interest. I sincerely hope that our friendship and corporation will last forever!</h3>
                        <h3>Kingdom of Saudi Arabia</h3>
                        <span>land force</span>

                    </div>
                </div>
                <div class="item">
                    <div class="single-team-member text-center ml-0">
                        <h3 class="mb-40 ml-100 mr-100 color-gray">Dr. Lei and his team are very credible. Our collaboration began at 2005, and has gone well up to now. There has been no problem with order delivery and product quality yet. Newtech has been long committed to developing new technologies to increase the protection level of those bulletproof products while decrease their prices, which is just in line with our interest. I sincerely hope that our friendship and corporation will last forever!</h3>
                        <h3>Kingdom of Saudi Arabia/h3>
                            <span>land force</span>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- 团队成员 start -->
<section class="sec-padding pt-60 pb-50">
    <div class="container">
        <div class="sec-title style-two mb-20 ">
            <h2>Management Team</h2>
            <span class="decor">
                    <span class="inner"></span>
                    </span>
        </div>
        <div class="row team-members">
            <div class="col-md-12 col-sm-12">
                <div class="img-box col-md-3 col-sm-12">
                    <img class="full-width" src="/img/team/1.jpg" alt="">
                </div>
                <div class="col-md-9 col-sm-12 single-team-member">
                    <h2>Dr. Lei</h2>
                    <h3 class="color-theme"><span>The founder of Newtech</span></h3>
                    <p>Lei Bingqiang once served as a visiting researcher at the Swedish Defense Research Institute,
                        after graduating as a doctor of material science in Sweden in 90s. At the beginning of 20th, he
                        came back to China and inaugurated China's bulletproof product industry. He founded Swed
                        Security & Protecting Technologies (Beijing) Co., Ltd., independently, which has provided many
                        protective equipment solutions and advanced bulletproof equipment to customers from over 30
                        countries.In the past more than 10 years, Dr. Lei has developed design schemes of many bulletproof equipment including ceramic hard armor plates...... <span> <a class="color-theme" href="/about">READ MORE</a></span></p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- 团队成员 end -->
<!-- 公司优势 -->
<section class="sec-padding pb-20 pt-20">
    <div class="container">
        <div class="sec-title style-two mb-50">
            <h2>Advantages</h2>
            <span class="decor">
                    <span class="inner"></span>
                </span>
            <div class="sec-title text-left mt-10 mb-10">
                <p>Over the years, we have focused on improving our technological capabilities. We have advantages as
                    follows:</p>
            </div>
        </div>
        <div class="container style-three">
            <div class="col-md-6 col-sm-6">
                <div class="row">
                    <div class="single-service-home">
                        <div class="icon-box">
                            <div class="inner-box">
                                <h1 class="mt-10">1</h1>
                                <!--<i class="flaticon-security-shield-1"></i>-->
                            </div>
                        </div>
                        <div class="content ">
                            <h3>R & D <span class="color-theme">team</span></h3>
                            <p>Our R & D team has long focused on the research and development of protective products, and up to now, we have held more than 10 domestic and international patent technologies.
                                <br>
                                With strong R & D capabilities, we can customize personalized products according to customer’s need.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="single-service-home mt-20">
                        <div class="icon-box">
                            <div class="inner-box">
                                <h1 class="mt-10">2</h1>
                                <!--<i class="flaticon-technology-1"></i>-->
                            </div>
                        </div>
                        <div class="content">
                            <h3>Quality management <span class="color-theme">system</span></h3>
                            <p>Equipped with advanced testing equipment, abundant production experiences, and complete management system, we make each production step precise and orderly.
                                (product testing reports available)
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 pl-0">
                <img class="full-width" src="/img/index/p1.jpg" alt="">
            </div>
        </div>
        <div class="container style-three">
            <div class="col-md-6 pt-20 pl-0">
                <img class="full-width" src="/img/index/p2.jpg" alt="">
            </div>
            <div class="col-md-6 col-sm-6 pt-20">
                <div class="row">
                    <div class="single-service-home">
                        <div class="icon-box">
                            <div class="inner-box">
                                <h1 class="mt-10">3</h1>
                                <!--<i class="flaticon-security-shield-1"></i>-->
                            </div>
                        </div>
                        <div class="content">
                            <h3>products <span class="color-theme">Series</span></h3>
                            <p>We produce more than 10 types of protective products, including hard armor plates, ballistic vests, bulletproof shields, stab resistance vest, etc. Customers can purchase all the required equipment at one stop.<br>
                                Complete production chain, direct selling, higher cost performance.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="single-service-home mt-20">
                        <div class="icon-box ">
                            <div class="inner-box">
                                <h1 class="mt-10">4</h1>
                                <!--<i class="flaticon-technology-1"></i>-->
                            </div>
                        </div>
                        <div class="content">
                            <h3>Productivity</span></h3>
                            <p>Our factory covers an area of 2000 square meters with various types of production equipment, which
                                can produce hundreds of thousands of products in a year. With our strong productivity,
                                all order will be completed on time.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- 新闻 -->
<section class="blog-home mb-10 ">
    <div class="container">
        <div class="sec-title style-two sm-text-left  mb-40">
            <h2><a class="text-uppercase color-black" href="/news">News</a></h2>
            <span class="decor">
                    <span class="inner"></span>
                </span>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-12 sm-col-center mb-sm-40">
                <div class="single-blog-post">
                    <div class="img-box " th:each="item : ${newsLeft.data}" style="padding: 10px">
                        <img th:src="'http://api.newtecharmor.com/'+${item.logo}" alt="" style="max-height: 167px;">
                        <div class="firstNew">
                            <h4 th:text="${item.title}">新闻标题</h4>
                            <p>
                                <span> <a th:href="'/news/'+${item.id}"><font class="color-theme">READ MORE</font></a></span>
                                <br th:text="${#dates.format(item.gmtCreate, 'yyyy-MM-dd')}"></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 sm-col-center mb-sm-40">
                <div class="single-blog-post">
                    <div class="img-box " th:each="item : ${newsRight.data}" style="padding: 10px">
                        <img th:src="'http://api.newtecharmor.com/'+${item.logo}" alt="" style="max-height: 167px;">
                        <div class="firstNew">
                            <h4 th:text="${item.title}">新闻标题</h4>
                            <p>
                                <span> <a th:href="'/news/'+${item.id}"><font class="color-theme">READ MORE</font></a></span>
                                <br th:text="${#dates.format(item.gmtCreate, 'yyyy-MM-dd')}"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

</section>
<!-- 百科 -->


<footer th:replace="footer :: copy"></footer>
</body>

</html>