<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-121843222-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-121843222-1');
</script>

    <meta charset="UTF-8">
    <title>Products - Newtech Armor</title>
    <meta name="Keywords" content="Body Armor, Level III Hard Armor Plate, Level IV Hard Armor Plate, Ballistic Armor, Body Armor Plates, Trauma PNewtech Armor provides perfect Level III Hard Armor Plates, Level IV Hard Armor Plates,Body Armor Plates.">
    <!-- responsive meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- master stylesheet -->
    <link rel="stylesheet" href="css/style.css">
    <!-- responsive stylesheet -->
    <link rel="stylesheet" href="css/bootstrap-margin-padding.css">
    <link rel="stylesheet" href="css/responsive.css">
    <script>
    (function(){
        var canonicalURL, curProtocol;
        //Get the <link> tag
        var x=document.getElementsByTagName("link");
        //Find the last canonical URL
        if(x.length > 0){
            for (i=0;i<x.length;i++){
                if(x[i].rel.toLowerCase() == 'canonical' && x[i].href){
                    canonicalURL=x[i].href;
                }
            }
        }
        //Get protocol
        if (!canonicalURL){
            curProtocol = window.location.protocol.split(':')[0];
        }
        else{
            curProtocol = canonicalURL.split(':')[0];
        }
        //Get current URL if the canonical URL does not exist
        if (!canonicalURL) canonicalURL = window.location.href;
        //Assign script content. Replace current URL with the canonical URL
        !function(){var e=/([http|https]:\/\/[a-zA-Z0-9\_\.]+\.baidu\.com)/gi,r=canonicalURL,t=document.referrer;if(!e.test(r)){var n=(String(curProtocol).toLowerCase() === 'https')?"https://sp0.baidu.com/9_Q4simg2RQJ8t7jm9iCKT-xh_/s.gif":"//api.share.baidu.com/s.gif";t?(n+="?r="+encodeURIComponent(document.referrer),r&&(n+="&l="+r)):r&&(n+="?l="+r);var i=new Image;i.src=n}}(window);})();
</script>
    <style>
        .text-center{
            padding-top: 20px;
        }
        .cate-bnr-sngle>img{
            width: 271px;
            height: 275px;
        }
        .cate-bnr-sngle>p{
            overflow : hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            padding: 0 20px;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
        }
        .cate-content{
            padding-top: 135px;
        }
    </style>
</head>
<!-- Preloader -->
<!-- <div class="preloader"></div> -->
<body oncontextmenu="return false" onselectstart="return false">
<!-- 公共头部 start -->
<!-- Preloader -->

<div class="preloader" style="display: none;"></div>
<header th:replace="header :: header"></header>
<!-- 公共头部end -->
<!-- slider start -->
<section class="inner-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12 sec-title colored text-center">
                <h2>Products</h2>
                <span class="decor"><span class="inner"></span></span>
            </div>
        </div>
    </div>
</section>
<!-- slider end -->
<!-- normalmenu start -->
<nav class="normalmenu-area">
    <div class="container text-center p-0">
        <div class="navigation2">
            <div class="nav-header">
                <ul>
                    <li class="right">
                        <!--
                        <input type="text" name="title" value="" placeholder="Key Words" id="search">
                        <i class="fa fa-search" id="search_icon"></i> -->
                        <form action="/search" name="searchForm">
                            <input type="text" name="title" value="" placeholder="Key Words" id="search">
                            <i class="fa fa-search" id="search_icon" onclick="subSearchForm();"></i>
                        </form>

                    </li>
                </ul>
                <!-- 搜索框 -->
            </div>
        </div>
    </div>
</nav>
<!-- 面包屑 start --> 
     <section class="pt-20">
        <div class="container">
                    <ul class="breadcumb">
                        <li><a href="/">Home</a></li>
                        <li><i class="fa fa-angle-right"></i></li>
                        <li><span>Services</span></li>
                    </ul>
        </div>
    </section>
<!-- 面包屑 end --> 
    <!--装备列表2 start-->
     <section class="sec-padding pb-40">
        <div class="container">
            <div class="sec-title text-center mb-40">
                <h2><span class="color-black" th:text="'Search：'+${param.title[0]}">Search:Bulletproof Backpacks</span></h2>
                <span class="decor"><span class="inner"></span></span>
            </div>
            <div class="row mb-20">
                 <div class="text-center col-lg-3 col-md-6" th:each="item : ${searchList.data}">
                    <div class="cate-bnr-sngle bordered">
                        <img th:src="'http://api.newtecharmor.com/'+${#strings.listSplit(item.logo,',')[0]}" alt="">
                        <p th:text="${item.title}">FDY-101快穿式防弹背心</p>
                            <div class="cate-content text-center">
                                <a th:href="'/product/'+${item.id}">View Detail</a>
                            </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <!--装备列表2 end-->
<!--重点推荐 start-->
<section class="call-to-action home-one">
    <div class="container-fluid">
        <div class="clearfix">
            <div class="call-to-action-corner col-md-6"
                 style="background-image: url(img/call-to-action/left-box-bg.jpg);">
                <a href="/">
                    <div class="single-call-to-action open-hours">
                        <div class="img-box  pt-60 ">
                                <div class="col-lg-2 col-md-2">
                                    <img class="full-width" src="img/resources/icon-hardaqrmorplate.png">
                                </div>
                            </div>
                      
                        <div class="content-box meet-doctors  pb-10 pl-10">
                            <h3 class="title">Chemical Research</h3>
                            <p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod
                                mazim
                                placerat facer possim assum. Lorem ipsum dolor sit amet. <span>consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</span>
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="call-to-action-center col-md-6"
                 style="background-image: url(img/call-to-action/center-box-bg.jpg);">
                <a href="/">
                    <div class="single-call-to-action">
                        <div class="img-box  pt-60 ">
                                <div class="col-lg-2 col-md-2">
                                    <img class="full-width" src="img/resources/icon-ballisticvest.png">
                                </div>
                            </div>
                        <div class="content-box meet-doctors pb-10 pl-10">
                            <h3 class="title">Petroleum And Gas</h3>
                            <p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim
                                placerat facer possim assum. Lorem ipsum dolor sit amet. <span>consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</span>
                            </p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
<!--重点推荐 end-->
<footer th:replace="footer :: copy"></footer>
<script>
    function subSearchForm(){
        document.searchForm.submit();
    }
</script>
</body>

</html>

